h1{
    text-align: center;
    background-color:greenyellow;
    height: 20px;
    padding-top: 80px;
    padding-left: 500px;
    padding-right: 500px;
    display: inline;
    margin-left: 100px;
    margin-right: 800px;
}