.username{
border:0px solid black;
padding:50px;
padding-left: 60px;
padding-right:140px ;
margin-top: 200px;;
width: 400px;
background-image: url('img5.png');

box-shadow: -10px 19px 18px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 19px 18px 3px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 19px 18px 3px rgba(0,0,0,0.75);
}

h3{

   
    font-family: 'Times New Roman', Times, serif;
   font-weight:300px;
   padding-top: -10PX;
   font-size: 50px;
}


   
   .button1{
     background-color:rgb(2, 187, 248);
     padding-right:50px;
   }
  